@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#login-btn").click(function () {
                $.get("/Login/GetUserByCredentials", 
                    { username: $("#username").val(), password: $("#password").val() },
                    function (data, status) {
                        window.location.href = '../Main';
                    });
            });
        });
    </script>
</head>
<body>
    <h3>Authentication</h3>

    Username:  <input type="text" id="username" name="username" /> <br/>
    Password:  <input type="text" id="password" name="password" /> <br/>

    <button type="button" id="login-btn">Login</button>

    <div id="success"></div> <br />
</body>
</html>